div.newsLayout{
	display:grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

div.newsContentItem{
	position:relative;
	text-align:center;
	overflow:hidden;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	margin:3px;
	padding:3px;
}

div.modalItem{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
}

div.modalBackground{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background-color:#473c19;
	opacity:25%;
}

div.modalContents{
	position:absolute;
	background-color:white;
	top:10%;
	bottom:10%;
	left:10%;
	right:10%;
}

div.closeButton{
	position:absolute;
	right:0px;
	top:0px;
	width:100px;
	height:28px;
	margin-left:3px;
	margin-right:5px;
	margin-bottom:3px;
	margin-top:5px;
	background-color:#473c19;
	color:#f1f7f0;
	border-radius:5px;
	text-align:center;
	font-size:1.5em;
	transform:translateY(-5%);
}

div.closeButton:hover{
	opacity:75%;
}


div.headingTitle{
	position:absolute;
	top:0px;
	height:30px;
	left:0px;
	right:400px;
	padding:5px;
	margin:5px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	text-align:center;
}

div.headingDesc{
	position:absolute;
	top:35px;
	bottom:80%;
	left:0px;
	right:0px;
	padding:5px;
	margin:5px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	text-align:center;
}

div.publishedDate{
	position:absolute;
	width:280px;
	right:115px;
	top:0px;
	height:30px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	text-align:center;
	padding-top:5px;
	margin-top:5px;
}

div.linkSection{
	position:absolute;
	top:20.5%;
	bottom:0px;
	right:0px;
	left:0px;
	padding:5px;
	margin:5px;
}

iframe.linkFrame{
	width:100%;
	bottom:100%;
}


